@charset "UTF-8";

/* Noto Sans */
@font-face {
    font-family: 'NotoKrL';
    font-style: normal;
    font-weight: 200;
    src: local('Noto Sans Light'), local('NotoSans-Light'), url(../_fonts/NotoSans-Light.otf);
    src: url(../_fonts/NotoSans-Light.eot?#iefix) format('embedded-opentype'),
    url(../_fonts/NotoSans-Light.woff2) format('woff2'),
    url(../_fonts/NotoSans-Light.woff) format('woff');;
}

@font-face {
    font-family: 'NotoKrR';
    font-style: normal;
    font-weight: 300;
    src: local('Noto Sans Regular'), local('NotoSans-Regular'), url(../_fonts/NotoSans-Regular.eot);
    src: url(../_fonts/NotoSans-Regular.eot?#iefix) format('embedded-opentype'),
    url(../_fonts/NotoSans-Regular.woff2) format('woff2'),
    url(../_fonts/NotoSans-Regular.woff) format('woff');
}

@font-face {
    font-family: 'NotoKrM';
    font-style: normal;
    font-weight: 500;
    src: local('Noto Sans Medium'), local('NotoSans-Medium'), url(../_fonts/NotoSans-Medium.eot);
    src: url(../_fonts/NotoSans-Medium.eot?#iefix) format('embedded-opentype'),
    url(../_fonts/NotoSans-Medium.woff2) format('woff2'),
    url(../_fonts/NotoSans-Medium.woff) format('woff');
}

@font-face {
    font-family: 'NotoKrB';
    font-style: normal;
    font-weight: 700;
    src: local('Noto Sans Bold'), local('NotoSans-Bold'), url(../_fonts/NotoSans-Bold.eot);
    src: url(../_fonts/NotoSans-Bold.eot?#iefix) format('embedded-opentype'),
    url(../_fonts/NotoSans-Bold.woff2) format('woff2'),
    url(../_fonts/NotoSans-Bold.woff) format('woff');
}

/* GmarketSans */

@font-face {
  font-family: 'GmarketSans';
  font-style: normal;
  font-weight: 100;
  src: url('../_fonts/GmarketSansLight.woff') format('woff'),
    url('../_fonts/GmarketSansTTFLight.ttf') format('truetype');
}
@font-face {
  font-family: 'GmarketSans';
  font-style: normal;
  font-weight: 400;
  src: url('../_fonts/GmarketSansMedium.woff') format('woff'),
  url('../_fonts/GmarketSansTTFMedium.ttf') format('truetype');

}

@font-face {
  font-family: 'GmarketSans';
  font-style: normal;
  font-weight: 700;
  src: url('../_fonts/GmarketSansBold.woff') format('woff'),
  url('../_fonts/GmarketSansTTFBold.ttf') format('truetype');

}














